#grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  width: 90vmin;
  height: 90vmin;
  margin: 20px auto;
  background: #333;
}

.cell {
  width: 100%;
  aspect-ratio: 1;
  background-color: #dddcdc;
}

.active {
  background-color: #000;
}