#grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  width: 90vmin;
  height: 90vmin;
  margin: 10vmin auto;
  background: #333;
}

.cell {
  width: 100%;
  /* not applicable for block elements */
  aspect-ratio: 1;
  background-color: #dddcdc;
}

.cell.snake {
  background-color: green;
}

.cell.food {
  background-color: red;
}

.game-over {
  color: red;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

h2 {
  text-align: center;
}

/* react portal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  min-width: 250px;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 8px 15px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #45a049;
}

