#grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  width: 90vmin;
  height: 90vmin;
  margin: 10vmin auto;
  background: #333;
}

.cell {
  width: 100%;
  /* not applicable for block elements */
  aspect-ratio: 1;
  background-color: #dddcdc;
}

.cell.snake {
  background-color: green;
}

.cell.food {
  background-color: red;
}

.game-over {
  color: red;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

h2 {
  text-align: center;
}